* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #93b6ed;
}

.Encabezado {
  display: flex;
  justify-items: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 5vw;
  width: 100%;
}

#home:hover,
#saber:hover,
#datos:hover,
#comp:hover {
  background-color: #25848e;
  font-size: 1.5vw;
}
h1 {
  color: #2cb493;
  text-align: center;
  font-size: 22;
  background-color: rgb(54, 50, 50);
}
.primer {
  width: 170vh;
  height: 50vh;
  margin: 20px;
  padding: 5px;
  border: 4px;
  border-style: ridge;
  border-color: black;
}
#imggato {
  width: 150px;
  height: 200px;
  float: left;
}
.primer > .primerparrafo {
  font-size: 1.3em;
  color: black;
  padding: 2px;
}
span {
  font-style: italic;
  color: rgb(189, 62, 12);
}
.segundo {
  display: inline-flex;
  padding: 5px;
  margin: 10px;
  border: groove;
  opacity: 0.8;
  width: 100%;
  height: 65vh;
}

.cuadizq {
  flex: left;
  padding: 4px;
  width: 40%;
  border-style: solid;
  border-color: #5397c5;
  border: 2px;
}
h2.otrostitulos {
  background-color: slategray;
  color: rgb(133, 82, 73);
  text-align: center;
}
ol > li {
  font-style: Verdana;
  margin-left: 20px;
  padding-left: 10px;
  color: rgb(255, 118, 38);
  font-size: 20px;
  font-weight: bolder;
}
.cuadder {
  flex: right;
  width: 60%;
  border-style: groove;
  border-radius: solid;
  border-color: whitesmoke;
}

p {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-style: Sans-sherif;
  padding: 2%;
}
